<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Pokemon type:</strong>
    <%= pokemon.pokemon_type %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= pokemon.level %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= pokemon.image_url %>
  </p>

</div>
